body {
    background-color: #EDF2F7;
    /* background-color: #F0EDF5; */
}

.bg-my-color{
    background-color: #EDF2F7 !important;
}

.fs-smaller {
    font-size: smaller;
}

.fs-small {
    font-size: small;
}

.fs-larger{
    font-size: larger;
}

input::placeholder {
    font-size: smaller;
}

.cursor-pointer{
    cursor: pointer;
}