.personal-friend .card-info {
  margin-left: 10px;
  margin-right: 10x;
}

.personal-friend .menu {
  margin: 25px;
  width: 200px;
  height: 70px;
  /* display: flex; */
  /* flex-direction: column; */
  background: #fffffff3;
  border-radius: 10%;

}

.personal-friend .menu-item {

  width: auto;
  height: auto;
  padding: 5px;
  height: 28px;
  border-radius: 10%;
  /* border-bottom: 1px solid rgb(187, 187, 187); */
}

.personal-friend .menu-item:hover {
  background-color: darkgrey;
  /* color: #2980b9; */
}


.personal-friend .three-dot-icon {
  margin-right: 25px;
}

.personal-friend .tag-name {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}

.personal-friend .card-img {
  width: 80px;
  height: 80px;
}