.search-bar {
    background-color: #EDF2F7;
    border: none;
}

.search-input {
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.nav-avatar {
    width: 32px;
    height: 32px;
}

.navbar-brand {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .search-bar {
        width: 400px;
    }
}
@media screen and (min-width: 992px) {
    .search-bar {
        width: 600px;
    }
}
